/* colors */
/* base properties */
body {
  background: #E9ECF0 url("../images/water.png");
  background-size: 200% auto;
  background-repeat: no-repeat;
  background-position: top center;
  color: #000F2E;
  font: 300 18px/26px 'Brandon Grotesque', helvetica, arial, sans-serif;
  overflow-x: hidden; }

.post-alt.wrap {
  max-width: none; }

* + p, * + h2, * + h3, * + nav, * + h5, * + h4, label {
  margin-top: 26px; }

a {
  text-decoration: none;
  color: #315BA6; }

/* section types by padding */
.section {
  padding: 60px 0; }

.short-section {
  padding: 10px 0; }

.medium-section {
  padding: 40px 0;
  text-align: center; }

.section0 {
  padding: 0; }

/* section types by color */
.white-section {
  background: #fff; }

.dark-section {
  background: #000F2E;
  color: #fff; }

.color-section {
  background: #315BA6;
  color: #fff; }

.gradient-section {
  background-color: #669DC9;
  /* Old browsers */
  background-image: -moz-radial-gradient(center, ellipse cover, #8EAFBD 0%, #669DC9 80%);
  /* FF3.6-15 */
  background-image: -webkit-radial-gradient(center, ellipse cover, #8EAFBD 0%, #669DC9 80%);
  /* Chrome10-25,Safari5.1-6 */
  background-image: radial-gradient(ellipse at center, #8EAFBD 0%, #669DC9 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8EAFBD', endColorstr='$bluegrey',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-size: 90% 350px;
  background-position: top left;
  background-repeat: no-repeat;
  color: #fff; }

/* header */
.site-header {
  text-align: center; }

.site-title {
  padding: 10px; }

.logo {
  background: #315BA6 url("../images/sbt-logo.svg") top 10px center no-repeat;
  display: inline-block;
  text-decoration: none; }
  .logo img {
    opacity: 0; }

.logo-2 {
  background: #E9ECF0; }

/* menu */
.close-title {
  padding: 17px; }

.close-button {
  margin-top: -40px; }

.menu-links {
  padding-top: 40px;
  margin-top: 40px;
  background: url("../images/border.svg") no-repeat top center; }
  .menu-links a {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .menu-links li:last-child {
    margin-bottom: 40px;
    padding-bottom: 40px;
    background: url("../images/border.svg") no-repeat bottom center; }

.menu-container {
  background: #E9ECF0 url("../images/water.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  position: relative;
  z-index: 99;
  transition: all 300ms ease-in-out; }
  .menu-container h2 + h2 {
    margin-top: 0; }

.menu-container-expanded {
  margin-bottom: -100px;
  max-height: 100em;
  z-index: 10000; }

.menu-label {
  width: 80px;
  margin: 0 auto;
  font-size: 14px;
  display: block;
  background: #669DC9;
  color: #fff;
  letter-spacing: 6px;
  text-transform: uppercase;
  line-height: 20px;
  text-indent: 3px; }

.menu-social-links li {
  margin: 0 14px; }

/* hero */
.hero {
  background-color: #315BA6;
  color: #fff;
  background-size: cover;
  margin-top: -102px;
  padding-top: 101px;
  padding-bottom: 15px; }
  .hero .lead, .hero h5, .hero .read-button, .hero .back-read-button, .hero .load-more-button, .hero .button, .hero .reverse-button, .hero .view-all-button {
    color: #fff;
    letter-spacing: 2px; }

.home-hero {
  background-size: 100% auto;
  background-image: url("../images/home-hero.jpg"); }

.reverse {
  color: #fff !important; }

.midnight {
  color: #000F2E !important; }

.hide {
  display: none; }

.pt0 {
  padding-top: 0; }

.mt0 {
  margin-top: 0; }

.pb0 {
  padding-bottom: 0; }

.pt0 {
  padding-top: 0; }

.b0 {
  border: 0 !important; }

/* typography */
.lead, h5, .read-button, .back-read-button, .load-more-button, .button, .reverse-button, .view-all-button {
  font-size: 14px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #315BA6;
  line-height: 20px; }

.lead.standalone, h5.standalone, .standalone.read-button, .standalone.back-read-button, .standalone.load-more-button, .standalone.button, .standalone.reverse-button, .standalone.view-all-button {
  font-size: 18px;
  text-align: center; }

.work-bg-content .standalone {
  text-align: center; }

h1 {
  font-weight: 300;
  font-size: 64px;
  letter-spacing: 6px;
  line-height: 91px;
  text-transform: uppercase;
  color: #000F2E; }

h2 {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 6px;
  line-height: 68px;
  text-transform: uppercase; }
  .lead + h2, h5 + h2, .read-button + h2, .back-read-button + h2, .load-more-button + h2, .button + h2, .reverse-button + h2, .view-all-button + h2 {
    margin-top: 0; }
  h2 .highlight {
    color: #315BA6; }

h3 {
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px; }

h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .site-footer h4 {
    font-weight: 400; }
  .gradient-section h4 {
    color: #000F2E; }

h5 a {
  color: #000F2E; }

label {
  font-weight: 400;
  color: #000F2E;
  display: block; }

.dropdown-container label {
  margin-top: 0; }

/* buttons */
.button {
  font-weight: 700; }
  p > .button:first-child {
    margin-top: -6px;
    margin-bottom: 6px;
    /* optical adjustment */ }

.read-button {
  background: #9FBDD4 url("../images/right-arrow.svg") center right 11px no-repeat;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #000F2E;
  font-weight: 700;
  padding: 7px 0; }

.back-read-button {
  background: #B5CEE1 url("../images/left-arrow.svg") center left 11px no-repeat;
  display: inline-block;
  width: 100%;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center;
  color: #000F2E;
  font-weight: 700;
  padding: 7px 0; }

.load-more-button, .button, .reverse-button {
  background: #669DC9;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 10px; }

.view-all-button {
  background: #9E9E9E;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 0; }

.reverse-button {
  background: #b8cee0;
  color: #315BA6;
  border-radius: 0;
  box-shadow: none; }

.full-width-button {
  width: 100%; }

/* footer */
.site-footer {
  background: #315BA6;
  color: #fff;
  text-align: center;
  padding-bottom: 40px; }
  .site-footer .social-links {
    text-align: left;
    margin-top: 0; }
    .site-footer .social-links li {
      width: 25%;
      float: left; }

.colophon {
  display: block;
  margin-top: 40px; }
  .colophon a {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700; }

.flat-links li, .flat-links a {
  display: inline-block !important; }

.social-links {
  margin-left: -10px;
  margin-right: -10px;
  border-top: 1px #669DC9 solid;
  border-bottom: 1px #669DC9 solid;
  overflow: hidden;
  text-align: center; }

.social-links li {
  padding: 40px 0;
  text-align: center;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px; }
  .social-links li:not(:last-child) {
    border-right: 1px #669DC9 solid; }

/* form elements */
input[type="text"], input[type="url"], input[type="email"], input[type="tel"], textarea, .dropdown-label, .dropdown li, input[type="file"] {
  display: block;
  font: inherit;
  font-weight: 400;
  width: 100%;
  background: #F5F7FA;
  border: 1px solid #CED5E0;
  box-shadow: inset 0px 1px 1px 0px rgba(163, 170, 179, 0.5);
  border-radius: 2px;
  line-height: 34px;
  padding-left: 0.5rem; }

input[type="file"] {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 8px 10px; }

.dropdown-label {
  box-shadow: none;
  background-image: url("../images/dropdown_arrows_small.svg");
  background-position: right -2px center;
  background-repeat: no-repeat;
  background-size: auto 102%;
  cursor: pointer; }

.dropdown-container {
  position: relative; }

.dropdown {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  cursor: pointer;
  display: none;
  z-index: 99; }

.standalone-dropdown-options {
  top: 104px; }
  .standalone-dropdown-options a {
    padding: 30px 0;
    display: block;
    color: #000F2E; }
    .standalone-dropdown-options a .lead, .standalone-dropdown-options a h5, .standalone-dropdown-options a .read-button, .standalone-dropdown-options a .back-read-button, .standalone-dropdown-options a .load-more-button, .standalone-dropdown-options a .button, .standalone-dropdown-options a .reverse-button, .standalone-dropdown-options a .view-all-button {
      color: #315BA6; }

.short-standalone {
  top: 81px; }

.standalone-dropdown {
  padding: 30px 0;
  background-image: url("../images/dropdown_arrow_big.svg"); }

.dropdown li {
  box-shadow: none;
  margin-top: -1px; }
  .dropdown li label {
    cursor: pointer;
    font-weight: 400;
    display: block; }

.standalone-dropdown, .standalone-dropdown-options li {
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase; }

.dropdown input[type="radio"] {
  display: none; }

hr {
  border: 0;
  background: #CED5E0;
  height: 1px;
  margin: 1.5rem 0 0; }

.subtext {
  font-size: 16px;
  font-weight: 400;
  font-style: italic; }

/* blog */
.post-container {
  background: #F5F7FA;
  padding: 10px;
  text-align: center; }
  .post-container h4 {
    font-weight: 400;
    line-height: 32px;
    margin-top: 0; }
    .post-container h4 a {
      color: #000F2E; }

.post {
  margin-bottom: 20px; }

.color-card {
  background: #E9ECF0;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 90px; }
  .sub-industry .color-card {
    display: table;
    width: 100%; }
  .color-card h5 {
    line-height: 14px;
    letter-spacing: 2px;
    color: #000F2E;
    display: table-cell;
    vertical-align: middle; }

/* post */
.avatar {
  width: 83px;
  height: 83px;
  border-radius: 830px;
  border: 1px #000F2E solid;
  box-shadow: inset 3px 3px 0 3px #fff; }

.avatar-2 {
  width: 60px;
  height: 60px;
  border-radius: 830px;
  border: 1px #000F2E solid;
  box-shadow: inset 3px 3px 0 3px #fff; }

.post-content img {
  padding: 10px;
  background: #fff;
  border: #E9ECF0 1px solid;
  border-radius: 3px; }

.alignleft {
  float: left;
  margin-right: 1rem; }

.alignright {
  float: right;
  margin-left: 1rem; }

.author-name {
  font-size: 18px;
  line-height: 18px;
  color: #000F2E;
  display: block; }

.position {
  color: #9E9E9E;
  line-height: 16px;
  margin-top: 6px;
  display: block; }

.post-hero {
  margin-bottom: 20px; }

/* modal */
.overlay {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 100%;
  display: none; }

.modal {
  position: relative;
  z-index: 200;
  margin: 20px 20px 0; }
  .modal p {
    font-weight: 300; }

.modal-container {
  position: fixed;
  width: 100%;
  top: 50%;
  z-index: 200;
  transform: translateY(-50%);
  display: none; }

.modal-button {
  position: relative;
  z-index: 200;
  margin: 0 20px 20px; }
  .modal-button a {
    vertical-align: top; }

/* may not be necessary (for alt work page) */
.card-container {
  background-size: cover;
  padding: 40px; }

.industry-card {
  transition: all 600ms ease-in-out; }

.card {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 60px 40px 20px;
  text-align: center;
  transition: all 600ms ease-in-out; }
  .card h3 a {
    font-weight: 400;
    color: #000F2E;
    letter-spacing: 0;
    font-weight: 300; }
    .card h3 a .lead, .card h3 a h5, .card h3 a .read-button, .card h3 a .back-read-button, .card h3 a .load-more-button, .card h3 a .button, .card h3 a .reverse-button, .card h3 a .view-all-button {
      color: #669DC9;
      display: block; }

.design-industry {
  background-image: url("../images/design_industry.png"); }

.ev-industry {
  background-image: url("../images/ev.png"); }

.tech-industry {
  background-image: url("../images/tech.png"); }

.sub-industry {
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer; }

.desktop-only {
  display: none; }

.tal {
  position: absolute;
  top: 180px;
  right: -63px; }
  .tal img {
    height: 48px; }

.large-industry-content .small-6:nth-child(2n+1) {
  clear: both; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.animated {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.button, h1, h2, h3, h4, h5, h6, p {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

.work-talent-titles {
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-in-out; }

.work-talent-title {
  width: 50%;
  float: left;
  opacity: .5;
  position: relative;
  z-index: 9; }
  .work-talent-title.active {
    opacity: 1; }
  .work-talent-title:not(.active) {
    cursor: pointer; }
    .work-talent-title:not(.active) .lead, .work-talent-title:not(.active) h5, .work-talent-title:not(.active) .read-button, .work-talent-title:not(.active) .back-read-button, .work-talent-title:not(.active) .load-more-button, .work-talent-title:not(.active) .button, .work-talent-title:not(.active) .reverse-button, .work-talent-title:not(.active) .view-all-button {
      visibility: hidden; }

.talent-title:not(.active) {
  right: 16%; }

.work-title:not(.active) {
  right: -16%; }

.talent-active {
  transform: translate(-50%); }

.work-active {
  transform: translate(0); }

.loading-screen {
  z-index: 1001;
  background: #13233d;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #13233d 0%, #0a182f 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #13233d 0%, #0a182f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #13233d 0%, #0a182f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13233d', endColorstr='#0a182f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .loading-screen div:not(#loading), .loading-screen header, .loading-screen footer {
    display: none; }

#loading {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate(-50%, -50%); }
  #loading svg {
    padding: 10rem 0.75rem; }

.hidebody {
  height: 0;
  overflow: hidden; }

.pattern-section {
  background: url("../images/logo-bg.png") repeat-x; }

@media (min-width: 40em) {
  body {
    background-position: top 80px center;
    background-size: auto 139px; }
  .desktop-only {
    display: block; }
  .mobile-only {
    display: none; }
  .site-header {
    position: relative;
    z-index: 100;
    background: #000F2E; }
  .logo {
    background: url("../images/sbt-full-logo.svg") left center no-repeat;
    width: 100%; }
  .menu-label {
    background: none;
    color: transparent;
    background: url("../images/menu-button.svg") right center no-repeat;
    float: right;
    width: 100px;
    margin-top: 30px; }
  .medium-section {
    padding: 180px 0 100px; }
  .lead, h5, .read-button, .back-read-button, .load-more-button, .button, .reverse-button, .view-all-button {
    font-size: 24px;
    line-height: 32px; }
  .lead-small {
    font-size: 14px;
    line-height: 20px; }
  h1 {
    font-size: 144px;
    line-height: 206px; }
  body {
    font-size: 24px;
    line-height: 32px; }
  .large-text {
    font-size: 36px;
    line-height: 52px; }
    .large-text input, .large-text textarea {
      font-size: 24px;
      line-height: 32px; }
  textarea {
    height: 125px; }
  .large-pt {
    padding-top: 40px; }
  .large-mt {
    margin-top: 80px; }
  .large-pb {
    padding-bottom: 80px; }
  .dropdown-label {
    display: none; }
  .dropdown {
    display: block;
    position: static;
    margin-top: 40px; }
  .dropdown li {
    width: 350px;
    display: block;
    font-size: 48px;
    color: #000F2E;
    font-weight: 400;
    background: #fff;
    border: 0;
    border-radius: 2px;
    line-height: 56px;
    padding: 5px 20px 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto; }
    .dropdown li.active {
      background: #315BA6; }
      .dropdown li.active label {
        color: #fff; }
      .dropdown li.active .lead, .dropdown li.active h5, .dropdown li.active .read-button, .dropdown li.active .back-read-button, .dropdown li.active .load-more-button, .dropdown li.active .button, .dropdown li.active .reverse-button, .dropdown li.active .view-all-button {
        color: #669DC9; }
  .standalone-dropdown-options li {
    padding: 5px 20px 5px; }
  hr {
    clear: both; }
  form h4 {
    font-size: 36px;
    line-height: 52px; }
  .subtext-block {
    display: block;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 20px; }
  .social-links {
    margin: 0;
    border: 0;
    overflow: hidden; }
  .social-links li:not(:last-child) {
    border: 0;
    margin-right: 20px; }
  .social-links li {
    width: auto;
    padding: 20px 0 0;
    text-align: center;
    display: block; }
  .site-footer {
    padding-bottom: 0; }
    .site-footer .section {
      padding-bottom: 40px; }
    .site-footer h4, .site-footer .colophon {
      color: #B5CEE1; }
      .site-footer h4 a, .site-footer .colophon a {
        font-size: 24px;
        line-height: 34px; }
    .site-footer .social-links li {
      width: auto; }
    .site-footer .medium-section {
      padding-bottom: 40px; }
  .read-button {
    font-size: 18px;
    line-height: 20px; }
  .post-hero {
    padding: 140px 0; }
  .avatar {
    width: 100%;
    height: auto; }
  .author-name {
    font-weight: 700; }
  hr {
    margin-left: auto;
    margin-right: auto; }
  .date {
    font-size: 18px; }
  .small-hr {
    margin: 15px auto 10px; }
  .share-this-story {
    background: #B5CEE1;
    text-align: center;
    padding: 40px; }
    .share-this-story img {
      vertical-align: bottom; }
  .space-out li {
    display: inline-block;
    float: none; }
    .space-out li:not(:last-child) {
      margin-right: 40px; }
  .industry-card {
    width: 33.3%;
    float: left; }
    .industry-card h3 a {
      font-size: 48px; }
  .industry-cards {
    overflow: hidden; }
  h3 strong {
    text-transform: lowercase;
    font-weight: 400; }
  .large-work-bg {
    background-image: url("../images/work-bg.jpg");
    background-size: cover;
    padding: 0;
    overflow: hidden;
    margin-bottom: -2px; }
  .work-bg-content {
    background: rgba(233, 236, 240, 0.9);
    overflow: hidden;
    padding: 80px 40px; }
    .work-bg-content h1.standalone {
      color: #669DC9 !important;
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      text-align: left; }
    .work-bg-content .lead.standalone, .work-bg-content h5.standalone, .work-bg-content .standalone.read-button, .work-bg-content .standalone.back-read-button, .work-bg-content .standalone.load-more-button, .work-bg-content .standalone.button, .work-bg-content .standalone.reverse-button, .work-bg-content .standalone.view-all-button {
      color: #000F2E !important;
      margin-top: 10px;
      text-align: left;
      font-weight: 400; }
  .work-bg-content .container {
    float: left;
    width: 500px; }
  .gradient-section {
    color: #000F2E;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300; }
    .gradient-section h4 {
      font-size: 48px;
      line-height: 56px;
      font-weight: 400; }
  .full-width-row {
    margin: 0;
    max-width: none; }
  #industry-dropdown-container {
    display: none !important; }
  .color-card {
    padding: 40px 35px; }
    .color-card h5 {
      line-height: 32px;
      letter-spacing: 0px; }
  .modal-container {
    text-align: center; }
    .modal-container h4 {
      font-size: 36px;
      line-height: 44px;
      font-weight: 400; }
  .modal, .modal-button {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto; }
    .modal .read-button, .modal .back-read-button, .modal-button .read-button, .modal-button .back-read-button {
      letter-spacing: 0;
      color: #315BA6; }
  .large-industry-content .small-6:nth-child(2n+1) {
    clear: none; }
  .large-industry-content .large-4:nth-child(3n+1) {
    clear: both; }
  .load-more-button, .button, .reverse-button, .view-all-button {
    font-size: 18px;
    line-height: 26px; }
  .eat-bottom-margin {
    margin-bottom: -80px; }
  .menu-container {
    background: #E9ECF0;
    position: absolute;
    top: 0;
    width: 100%;
    right: -100%;
    display: block;
    max-height: none;
    text-align: right;
    z-index: 101;
    height: 0; }
  .menu-close-button {
    margin-top: 30px;
    margin-bottom: 80px; }
  .menu-links {
    list-style: none;
    background-position: top right; }
    .menu-links a {
      font-size: 36px;
      line-height: 52px; }
    .menu-links li:last-child {
      background-position: bottom right; }
  .menu-link-heading {
    font-size: 64px;
    line-height: 91px; }
  .menu-container-expanded {
    right: 0;
    height: auto;
    padding-bottom: 100px;
    z-index: 10001; }
  .talent-title {
    position: relative;
    left: -15%; }
  .talent-active {
    transform: translate(-25%); }
  .work-active {
    transform: translate(0); }
  .work-title:not(.active) {
    right: auto; }
  .industry-card.active {
    padding-bottom: 0; }
    .industry-card.active .card {
      padding-bottom: 60px; }
  .site-footer .columns {
    padding: 0 40px; }
    .site-footer .columns:first-child {
      border-left: #669DC9 1px solid;
      border-right: #669DC9 1px solid; }
    .site-footer .columns:last-child {
      border-left: #669DC9 1px solid;
      border-right: #669DC9 1px solid;
      padding: 0 40px 70px; }
  .menu-active {
    overflow-y: scroll; }
  .social-links li {
    padding-left: 0;
    padding-right: 0; }
  label {
    margin-top: 0; }
  #loading {
    width: 10%; }
  .map-section {
    background-image: url("../images/map.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50% auto; }
  .interactive-hero {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77302/025-sbt-desktop-home-2.jpg") no-repeat left top scroll;
    background-size: cover;
    height: 667px;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .interactive-hero:after {
      background: #fff;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      content: "";
      position: absolute;
      z-index: 9;
      mix-blend-mode: overlay; } }
  @media screen and (min-width: 40em) and (min-width: 960px) {
    .interactive-hero {
      background-size: 1920px 981px;
      height: 888px; } }

@media (min-width: 40em) {
  .beach-layer {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77302/sbt-hero-sand.png") no-repeat;
    background-size: 1920px auto;
    bottom: 0;
    height: 242px;
    position: absolute;
    width: 100%;
    z-index: 101; }
  .lineart-layer {
    display: none;
    height: 981px;
    opacity: 0.7;
    position: relative;
    top: 0px;
    width: 1920px; } }
  @media screen and (min-width: 40em) and (min-width: 960px) {
    .lineart-layer {
      display: block; } }

@media (min-width: 40em) {
    .lineart-layer svg {
      padding-bottom: 100%;
      height: 981px;
      position: absolute;
      width: 1920px;
      left: 0;
      top: 0;
      right: 0;
      overflow: visible; }
  .text-layer {
    height: 100%;
    -moz-height: auto;
    left: 0;
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 99; } }
  @media screen and (min-width: 40em) and (min-width: 960px) {
    .text-layer {
      top: 0; } }

@media (min-width: 40em) {
  .text-col {
    float: left;
    height: 260px;
    padding: 20px;
    position: relative;
    width: 100%; } }
  @media screen and (min-width: 40em) and (min-width: 960px) {
    .text-col:hover .text-container, .text-col:hover a.btn, .text-col:hover .sub-paths {
      opacity: 1; }
    .text-col:hover a.btn, .text-col:hover .sub-paths {
      transform: translateY(0); } }

@media (min-width: 40em) {
    body:not(.has-menu) .text-col:before {
      opacity: 0; } }
    @media screen and (min-width: 40em) and (min-width: 960px) {
      body:not(.has-menu) .text-col:before {
        -webkit-transition: all 400ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
        -moz-transition: all 400ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
        -o-transition: all 400ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
        transition: all 400ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
        background-image: linear-gradient(-180deg, #055BEF 50%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100%;
        opacity: 0.1;
        position: absolute;
        top: 0;
        width: 150%;
        z-index: -1; } }
  @media screen and (min-width: 40em) and (min-width: 960px) {
    .text-col {
      height: 100%;
      width: 50%; } }

@media (min-width: 40em) {
  .text-left:before {
    transform: translateX(-1500px) skew(10deg);
    right: 0; }
  .text-left:hover:before {
    transform: translateX(0) skew(10deg); }
  .text-right:before {
    transform: translateX(1500px) skew(10deg);
    left: 0; }
  .text-right:hover:before {
    transform: translateX(0) skew(10deg); }
  .text-container {
    -webkit-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
    -moz-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
    -o-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
    transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    width: 80%; } }
  @media screen and (min-width: 40em) and (min-width: 960px) {
    .text-container {
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -80%);
      -ms-transform: translate(-50%, -80%);
      transform: translate(-50%, -80%);
      opacity: 0.5;
      width: 310px; } }

@media (min-width: 40em) {
    .text-container a {
      color: #669DC9;
      text-decoration: none; }
  .sub-text {
    color: #B5CEE1;
    font-size: 14px;
    letter-spacing: 2px; }
  .text-header {
    font-size: 32px;
    font-weight: 100;
    line-height: 40px;
    letter-spacing: 2px;
    margin: 5px 0 20px; }
  a.btn {
    -webkit-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
    -moz-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
    -o-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
    transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
    background: #669DC9;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    letter-spacing: 2px;
    opacity: 1;
    padding: 5px 20px;
    transform: translateY(10px); } }
  @media screen and (min-width: 40em) and (min-width: 960px) {
    a.btn {
      opacity: 0; } }

@media (min-width: 40em) {
  .sub-paths {
    -webkit-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
    -moz-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
    -o-transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
    transition: all 250ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
    list-style: none;
    margin: 20px 0;
    opacity: 1;
    padding: 0;
    transform: translateY(10px); } }
  @media screen and (min-width: 40em) and (min-width: 960px) {
    .sub-paths {
      opacity: 0; } }

@media (min-width: 40em) {
  .sub-path-item {
    color: #669DC9;
    display: inline-block;
    padding: 0 10px 0 0; }
  .sub-path-link {
    font-size: 14px;
    letter-spacing: 2px; }
  .video-layer {
    height: 242px;
    width: 1920px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 100;
    text-align: left; }
    .video-layer video {
      position: absolute;
      left: 0; } }

@media (min-width: 1024px) {
  .talent-title {
    position: relative;
    left: -20%; } }

@media (min-width: 1200px) {
  .dropdown li {
    float: left; }
  .dropdown li:not(:last-child) {
    margin-right: 60px; }
  .talent-title {
    position: relative;
    left: -24.5%; } }

/*# sourceMappingURL=style.css.map */