@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.animated {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.button, h1, h2, h3, h4, h5, h6, p {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes slideDown {
  from {
    -moz-transform: translate(0, -120px);
    -o-transform: translate(0, -120px);
    -ms-transform: translate(0, -120px);
    -webkit-transform: translate(0, -120px);
    transform: translate(0, -120px); }
  to {
    -moz-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%); } }

@keyframes slideDown {
  from {
    -moz-transform: translate(0, -120px);
    -o-transform: translate(0, -120px);
    -ms-transform: translate(0, -120px);
    -webkit-transform: translate(0, -120px);
    transform: translate(0, -120px); }
  to {
    -moz-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%); } }

body {
  color: #000F2E;
  font: 300 18px/26px "brandon-grotesque", helvetica, arial, sans-serif;
  overflow-x: hidden; }
  body.menu-active {
    overflow: hidden; }

hr {
  border: 0;
  background: #CED5E0;
  height: 1px;
  margin: 1.5rem 0 0; }

.wrap {
  background: url("../images/water.png") #E9ECF0 top center no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 120px 0 0 0;
  position: relative;
  z-index: 10; }
  @media (min-width: 768px) {
    .wrap {
      margin: 80px 0 171px 0;
      padding: 80px 0 0 0; } }

.large-pt {
  padding-top: 40px; }

.large-mt {
  margin-top: 80px; }

.large-pb {
  padding-bottom: 80px; }

a {
  text-decoration: none;
  color: #315BA6; }

p {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0; }

h1, h2, h3, h4, h5, h6 {
  color: #000F2E;
  font-weight: 400;
  letter-spacing: .01em;
  margin: 0 0 10px 0; }

h1 {
  font-size: 64px;
  font-weight: 300;
  line-height: 72px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h1 {
      font-size: 120px;
      font-weight: 300;
      line-height: 128px; } }

h2 {
  font-size: 32px;
  line-height: 40px; }

h3 {
  font-size: 24px;
  line-height: 32px; }

h4 {
  font-size: 18px;
  line-height: 26px; }

h5 {
  font-size: 14px;
  line-height: 22px; }

label {
  font-weight: 400;
  color: #000F2E;
  display: block; }

strong {
  font-weight: 500; }

.large-text p {
  font-size: 24px;
  line-height: 32px; }

.lowercase {
  text-transform: lowercase; }

.down-arrow {
  display: block;
  padding: 10px 0 0;
  text-align: center; }

.dropdown-container label {
  margin-top: 0; }

.subtext {
  font-size: 16px;
  font-weight: 400;
  font-style: italic; }

.lead, .read-button, .back-read-button, .view-all-button {
  display: block;
  font-size: 14px;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: #315BA6;
  line-height: 20px; }
  @media (min-width: 768px) {
    .lead, .read-button, .back-read-button, .view-all-button {
      font-size: 18px;
      line-height: 26px; } }

.lead.standalone, .standalone.read-button, .standalone.back-read-button, .standalone.view-all-button {
  font-size: 18px; }

.button {
  font-weight: 700;
  text-transform: uppercase;
  outline: 0;
  border: 0; }
  p > .button:first-child {
    margin-top: -6px;
    margin-bottom: 6px;
    /* optical adjustment */ }
  .button + .button {
    margin-left: 10px; }

a.button-dark {
  background: #315BA6; }
  a.button-dark:hover {
    background: #3766ba; }

.read-button {
  background: #9FBDD4 url("../images/right-arrow.svg") center right 11px no-repeat;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #000F2E;
  font-weight: 700;
  padding: 7px 0; }

.back-read-button {
  background: #B5CEE1 url("../images/left-arrow.svg") center left 11px no-repeat;
  display: inline-block;
  width: 100%;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center;
  color: #000F2E;
  font-weight: 700;
  padding: 7px 0; }

.load-more-button, .button, .reverse-button {
  background: #669DC9;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 10px; }
  .load-more-button:hover, .button:hover, .reverse-button:hover {
    background: #79a9d0; }

.view-all-button {
  background: #9E9E9E;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 0; }

.reverse-button {
  background: #b8cee0;
  color: #315BA6;
  border-radius: 0;
  box-shadow: none; }

.full-width-button {
  width: 100%; }

.form-input-text, .form-textarea {
  display: block;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  background: #F5F7FA;
  border: 1px solid #CED5E0;
  box-shadow: inset 0px 1px 1px 0px rgba(163, 170, 179, 0.5);
  border-radius: 2px;
  line-height: 34px;
  padding-left: 0.5rem; }

input[type="file"] {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 8px 10px; }

.error {
  margin-top: 1.5rem;
  background: #edc233;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px; }

.short-section {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0; }

.medium-section {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0; }

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0; }

.xl-section {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 0; }

.xxl-section {
  padding-top: 240px;
  padding-bottom: 240px;
  padding-left: 0;
  padding-right: 0; }

.section0 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

.midnight {
  color: #000F2E !important; }

.hide {
  display: none; }

.pt0 {
  padding-top: 0; }

.mt0 {
  margin-top: 0; }

.pb0 {
  padding-bottom: 0; }

.pt0 {
  padding-top: 0; }

.b0 {
  border: 0 !important; }

/* section types by padding */
/* section types by color */
.white-section {
  background: #fff; }

.dark-section {
  background: #000F2E;
  color: #fff; }
  .dark-section h1, .dark-section h2, .dark-section h3, .dark-section h4, .dark-section h5, .dark-section h6 {
    color: #fff; }

.home-dark-section {
  background: #091531; }
  .home-dark-section .lead, .home-dark-section .read-button, .home-dark-section .back-read-button, .home-dark-section .view-all-button {
    color: #B5CEE1; }

.color-section {
  background: #315BA6;
  color: #fff; }

.gradient-section {
  background-color: #669DC9;
  /* Old browsers */
  background-image: -moz-radial-gradient(center, ellipse cover, #8EAFBD 0%, #669DC9 80%);
  /* FF3.6-15 */
  background-image: -webkit-radial-gradient(center, ellipse cover, #8EAFBD 0%, #669DC9 80%);
  /* Chrome10-25,Safari5.1-6 */
  background-image: radial-gradient(ellipse at center, #8EAFBD 0%, #669DC9 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8EAFBD', endColorstr='$bluegrey',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-size: 90% 350px;
  background-position: top left;
  background-repeat: no-repeat;
  color: #fff; }

.site-home {
  background: transparent; }
  @media (min-width: 40em) {
    .site-home > .site-header {
      background: transparent; }
      .site-home > .site-header.scrolled {
        background: #000F2E; } }
  .site-home .wrap {
    margin: 0;
    padding: 0; }
    @media (min-width: 768px) {
      .site-home .wrap {
        margin: 0 0 171px 0; } }

.site-header {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100000;
  -webkit-transition: background 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: background 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: background 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: background 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s; }
  @media (min-width: 768px) {
    .site-header.scrolled {
      position: fixed;
      -moz-transform: translate(0, -120px);
      -o-transform: translate(0, -120px);
      -ms-transform: translate(0, -120px);
      -webkit-transform: translate(0, -120px);
      transform: translate(0, -120px); } }
  @media (min-width: 768px) {
    .site-header.slideDown {
      -moz-transform: translate(0, 0px);
      -o-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
      -webkit-transform: translate(0, 0px);
      transform: translate(0, 0px);
      -webkit-transition: transform 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
      -moz-transition: transform 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
      -o-transition: transform 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
      transition: transform 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s; } }
  @media (min-width: 768px) {
    .site-header.slideUp {
      -moz-transform: translate(0, -120px);
      -o-transform: translate(0, -120px);
      -ms-transform: translate(0, -120px);
      -webkit-transform: translate(0, -120px);
      transform: translate(0, -120px);
      -webkit-transition: transform 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
      -moz-transition: transform 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
      -o-transition: transform 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
      transition: transform 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s; } }
  @media (min-width: 40em) {
    .site-header {
      background: #000F2E; } }

.site-title {
  padding: 10px; }

.logo {
  background: #315BA6 url("../images/sbt-logo.svg") top 10px center no-repeat;
  display: inline-block;
  text-decoration: none; }
  .logo img {
    opacity: 0; }

.logo-2 {
  background: #E9ECF0; }

.close-title {
  padding: 17px; }

.close-button {
  margin-top: -40px; }

.menu-links {
  padding-top: 40px;
  margin-top: 40px;
  background: url("../images/border.svg") no-repeat top center; }
  .menu-links a {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .menu-links li:last-child {
    margin-bottom: 40px;
    padding-bottom: 40px;
    background: url("../images/border.svg") no-repeat bottom center; }

.menu-container {
  background-image: -webkit-linear-gradient(90deg, rgba(233, 236, 240, 0.4) 0%, #E9ECF0 100%);
  background-image: -moz-linear-gradient(90deg, rgba(233, 236, 240, 0.4) 0%, #E9ECF0 100%);
  background-image: -o-linear-gradient(90deg, rgba(233, 236, 240, 0.4) 0%, #E9ECF0 100%);
  background-image: linear-gradient(90deg, rgba(233, 236, 240, 0.4) 0%, #E9ECF0 100%);
  background-color: rgba(233, 236, 240, 0.8);
  background-size: 100% auto;
  background-repeat: no-repeat;
  bottom: 0;
  height: 100%;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  padding: 0 0 20px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000000;
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transform: translate(0%, -150%);
  -o-transform: translate(0%, -150%);
  -ms-transform: translate(0%, -150%);
  -webkit-transform: translate(0%, -150%);
  transform: translate(0%, -150%); }
  @media screen and (min-width: 768px) {
    .menu-container {
      -moz-transform: translate(100%, 0%);
      -o-transform: translate(100%, 0%);
      -ms-transform: translate(100%, 0%);
      -webkit-transform: translate(100%, 0%);
      transform: translate(100%, 0%);
      text-align: right; } }
  .menu-container h2 {
    text-transform: uppercase; }
  .menu-container .logo.mobile-only {
    margin-bottom: 20px; }
  .menu-container .lead, .menu-container .read-button, .menu-container .back-read-button, .menu-container .view-all-button {
    margin: 0; }

.menu-container-expanded {
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%); }

.menu-trigger {
  cursor: pointer;
  font-family: 'brandon-grotesque', helvetica, arial, sans-serif; }

.menu-label {
  background: #669DC9;
  color: #fff;
  display: block;
  font-size: 14px;
  letter-spacing: 6px;
  line-height: 20px;
  margin: 0 auto;
  padding: 10px 0;
  text-indent: 6px;
  text-transform: uppercase;
  width: 80px; }

.menu-social-links {
  margin: 10px 0; }
  .menu-social-links li {
    margin: 0 14px; }

.menu-link-heading {
  font-size: 64px;
  line-height: 72px; }

.hero {
  background-color: #315BA6;
  color: #fff;
  background-size: cover;
  padding-top: 101px;
  padding-bottom: 15px; }
  .hero .lead, .hero .read-button, .hero .back-read-button, .hero .view-all-button {
    color: #fff;
    letter-spacing: 2px; }

.home-hero {
  background-size: 100% auto;
  background-image: url("../images/home-hero.jpg"); }

.interactive-hero {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77302/025-sbt-desktop-home-2.jpg") no-repeat left top scroll;
  background-size: cover;
  height: 807px;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .interactive-hero {
      background-size: 1920px 981px;
      height: 900px;
      overflow: hidden; } }

.beach-layer {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77302/sbt-hero-sand.png") no-repeat;
  background-size: 1920px auto;
  bottom: 0;
  height: 242px;
  position: absolute;
  width: 100%;
  z-index: 5000; }

.text-layer {
  height: 100%;
  -moz-height: auto;
  left: 0;
  position: absolute;
  top: 150px;
  width: 100%;
  z-index: 10000; }
  @media screen and (min-width: 768px) {
    .text-layer {
      top: 0; } }
  .text-layer .text-header {
    color: #fff; }

.text-col {
  float: left;
  height: 260px;
  padding: 20px 10px;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .text-col {
      height: 100%;
      padding: 20px;
      width: 50%; } }
  @media screen and (min-width: 768px) {
    .text-col:hover .text-container, .text-col:hover a.btn, .text-col:hover .sub-paths {
      opacity: 1; }
    .text-col:hover a.btn, .text-col:hover .sub-paths {
      transform: translateY(0); } }
  .text-col:before {
    opacity: 0; }
    @media screen and (min-width: 768px) {
      .text-col:before {
        -webkit-transition: all 400ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
        -moz-transition: all 400ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
        -o-transition: all 400ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
        transition: all 400ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
        background-image: linear-gradient(-180deg, #055BEF 50%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100%;
        opacity: 0.1;
        position: absolute;
        top: 0;
        width: 150%; } }

.text-layer-left:before {
  transform: translateX(-1500px) skew(10deg);
  right: 0; }

.text-layer-left:hover:before {
  transform: translateX(0) skew(10deg); }

.text-layer-left .sub-paths {
  display: none; }

@media screen and (min-width: 768px) {
  .text-layer-left .sub-paths {
    display: block; } }

.text-layer-right {
  text-align: left; }
  .text-layer-right:before {
    transform: translateX(1500px) skew(10deg);
    left: 0; }
  .text-layer-right:hover:before {
    transform: translateX(0) skew(10deg); }

.text-container {
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  color: #fff;
  font-family: 300 18px/26px "brandon-grotesque", helvetica, arial, sans-serif;
  opacity: 1;
  text-transform: uppercase;
  width: 90%; }
  @media screen and (min-width: 768px) {
    .text-container {
      left: 50%;
      position: absolute;
      top: 50%;
      -moz-transform: translate(-50%, -80%);
      -o-transform: translate(-50%, -80%);
      -ms-transform: translate(-50%, -80%);
      -webkit-transform: translate(-50%, -80%);
      transform: translate(-50%, -80%);
      opacity: 0.5;
      width: 440px; } }

.sub-text {
  color: #B5CEE1;
  font-size: 14px;
  letter-spacing: 2px; }

.text-header {
  font-size: 32px;
  font-weight: 100;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 5px 0 20px; }

a.btn {
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
  background: #669DC9;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  letter-spacing: 2px;
  opacity: 1;
  padding: 5px 20px;
  transform: translateY(10px); }
  @media screen and (min-width: 768px) {
    a.btn {
      opacity: 0; } }

.sub-paths {
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
  list-style: none;
  margin: 20px 0;
  opacity: 1;
  padding: 0;
  transform: translateY(10px); }
  @media screen and (min-width: 768px) {
    .sub-paths {
      opacity: 0; } }

.sub-path-item {
  display: inline-block;
  padding: 0 10px 0 0; }
  .sub-path-item a {
    color: #669DC9;
    font-weight: 400; }

.sub-path-link {
  font-size: 14px;
  letter-spacing: 2px; }

.video-layer {
  display: none;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 4000;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .video-layer {
      display: block;
      width: 1920px; } }
  .video-layer video {
    width: 100%; }

.site-footer {
  background: #315BA6;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  height: 411px;
  width: 100%;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .site-footer {
      height: 171px;
      position: fixed; } }
  .site-footer h4 {
    color: #B5CEE1; }

.colophon {
  display: block;
  margin-top: 40px; }
  .colophon a {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700; }

.flat-links li, .flat-links a {
  display: inline-block !important; }

.social-links {
  text-align: left;
  margin-top: 0;
  margin-left: -10px;
  margin-right: -10px;
  border-top: 1px #669DC9 solid;
  border-bottom: 1px #669DC9 solid;
  overflow: hidden;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .social-links {
      margin: 0;
      border: 0;
      overflow: hidden; } }

.social-links li {
  text-align: center;
  display: inline-block;
  width: 25%;
  float: left;
  padding: 30px 0; }
  @media screen and (min-width: 768px) {
    .social-links li {
      padding: 0; } }
  .social-links li:not(:last-child) {
    border-right: 1px #669DC9 solid; }
    @media screen and (min-width: 768px) {
      .social-links li:not(:last-child) {
        border: 0;
        margin-right: 20px; } }

.map-section h2 {
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .map-section h2 {
      font-size: 64px;
      line-height: 72px; } }

.home-slogan .sbtsvg {
  display: inline-block;
  vertical-align: bottom;
  width: 40px; }
  .home-slogan .sbtsvg svg {
    width: 100%; }

.about-divisions {
  margin: 20px 0;
  text-align: center; }
  .about-divisions li {
    display: inline-block;
    font-size: 24px;
    margin: 0 0 10px 0;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .about-divisions li {
        width: 27%; } }
  .about-divisions a {
    background: #fff;
    color: #000F2E;
    display: block;
    height: 100%;
    padding: 20px 10px;
    width: 100%; }
  .about-divisions p {
    font-size: 18px;
    margin: 0; }

.work .dropdown-label, .talent .dropdown-label {
  display: block; }
  @media screen and (min-width: 768px) {
    .work .dropdown-label, .talent .dropdown-label {
      display: none; } }

@media screen and (min-width: 768px) {
  .work .dropdown, .talent .dropdown {
    display: block;
    position: static;
    margin-top: 40px; } }

.work .industry-dropdown-container, .talent .industry-dropdown-container {
  display: block; }
  @media screen and (min-width: 768px) {
    .work .industry-dropdown-container, .talent .industry-dropdown-container {
      display: none; } }

.work .industry-cards, .talent .industry-cards {
  display: none; }
  @media screen and (min-width: 768px) {
    .work .industry-cards, .talent .industry-cards {
      display: block; } }

.work-bg-content .container {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .work-bg-content .container {
      width: 60%; } }

.service-module {
  background: #dadfe6;
  margin: 20px 0;
  padding: 20px 0 0;
  text-align: center; }

.service-list {
  list-style: none;
  margin: 10px 0 0;
  width: 100%; }
  .service-list h5 {
    font-size: 24px; }
  .service-list li {
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    padding: 5px 20px;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 480px) {
      .service-list li {
        padding: 5px 20px; } }
    @media screen and (min-width: 768px) {
      .service-list li {
        padding: 10px 100px; } }
    .service-list li:nth-child(even) {
      background: #cbd2db; }

.blog-post-list {
  list-style: none; }
  .blog-post-list li {
    margin-bottom: 20px; }

.blog-post-image {
  overflow: hidden;
  max-height: 197px; }
  .blog-post-image .no-image {
    width: 100%; }

.post-container {
  background: #F5F7FA;
  padding: 10px;
  text-align: center;
  height: 334px; }
  .post-container h4 {
    margin-top: 0; }
    .post-container h4 a {
      color: #000F2E; }
  .post-container .lead, .post-container .read-button, .post-container .back-read-button, .post-container .view-all-button {
    margin: 0; }

.color-card {
  background: #E9ECF0;
  padding: 10px;
  position: relative;
  min-height: 90px; }
  .sub-industry .color-card {
    display: block;
    width: 100%; }

.card-text {
  color: #000F2E;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  width: 90%;
  left: 50%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.blog-index .mix {
  display: none; }

.single-post .wrap {
  margin-top: 0;
  padding-top: 0; }
  @media screen and (min-width: 768px) {
    .single-post .wrap {
      margin-top: 0; } }

.author-avatar {
  margin-bottom: 20px; }

.avatar {
  width: 83px;
  height: 83px;
  border-radius: 830px;
  border: 1px #000F2E solid;
  box-shadow: inset 3px 3px 0 3px #fff; }

.avatar-2 {
  width: 60px;
  height: 60px;
  border-radius: 830px;
  border: 1px #000F2E solid;
  box-shadow: inset 3px 3px 0 3px #fff; }

.post-content img {
  padding: 10px;
  background: #fff;
  border: #E9ECF0 1px solid;
  border-radius: 3px; }

.alignleft {
  float: left;
  margin-right: 1rem; }

.alignright {
  float: right;
  margin-left: 1rem; }

.author-name {
  font-size: 18px;
  line-height: 18px;
  color: #000F2E;
  display: block; }

.position {
  color: #9E9E9E;
  line-height: 16px;
  margin-top: 6px;
  display: block; }

.post-hero {
  margin-bottom: 20px; }

.entry-title {
  color: #fff;
  font-size: 24px;
  line-height: 32px; }
  @media screen and (min-width: 768px) {
    .entry-title {
      font-size: 48px;
      line-height: 56px; } }

.overlay {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 100%;
  display: none; }

.modal {
  position: relative;
  z-index: 200;
  margin: 20px 20px 0; }
  .modal p {
    font-weight: 300; }

.modal-container {
  position: fixed;
  width: 100%;
  top: 50%;
  z-index: 200;
  transform: translateY(-50%);
  display: none; }

.modal-button {
  position: relative;
  z-index: 200;
  margin: 0 20px 20px; }
  .modal-button a {
    vertical-align: top; }

.slogan {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .slogan {
      padding: 20px 0;
      text-align: left; } }

.slogan-large {
  color: #fff;
  display: block;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 84px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .slogan-large {
      color: #669DC9;
      font-size: 32px;
      line-height: 40px; } }

.slogan-small {
  display: block;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: .2em; }
  @media screen and (min-width: 768px) {
    .slogan-small {
      color: #000F2E; } }

.post-alt.wrap {
  max-width: none; }

.industry-card {
  cursor: pointer;
  width: 33.3%;
  float: left;
  padding: 40px;
  position: relative;
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  position: relative; }
  .industry-card:before {
    content: "";
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
    -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
    -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
    transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
    z-index: 1; }
  .industry-card.active:before {
    background: #fff; }

.card {
  background: #fff;
  padding: 40px;
  position: relative;
  text-align: center;
  transition: all 600ms ease-in-out;
  z-index: 10; }
  .card h3 a {
    font-weight: 400;
    color: #000F2E;
    letter-spacing: 0;
    font-weight: 300; }
    .card h3 a .lead, .card h3 a .read-button, .card h3 a .back-read-button, .card h3 a .view-all-button {
      color: #669DC9;
      display: block; }

.design-industry {
  background: url("../images/design_industry.png") #fff;
  background-size: cover; }

.ev-industry {
  background: url("../images/ev.png") #fff;
  background-size: cover; }

.tech-industry {
  background: url("../images/tech.png") #fff;
  background-size: cover; }

.sub-industry {
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer; }

.desktop-only {
  display: none; }

.tal {
  position: absolute;
  top: 180px;
  right: -63px; }
  .tal img {
    height: 48px; }

.large-industry-content .small-6:nth-child(2n+1) {
  clear: both; }

div.large-industry-content div.columns:last-child:not(:first-child) {
  float: left; }

.lowercase {
  text-transform: lowercase; }

.work-talent-titles {
  overflow: hidden;
  position: relative; }

.work-talent-title {
  float: left;
  opacity: .5;
  position: relative;
  text-align: center;
  width: 50%;
  z-index: 1;
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s; }
  .work-talent-title.active {
    opacity: 1;
    position: absolute;
    z-index: 1; }
  .work-talent-title:not(.active) {
    cursor: pointer;
    z-index: 10; }
    .work-talent-title:not(.active) .lead, .work-talent-title:not(.active) .read-button, .work-talent-title:not(.active) .back-read-button, .work-talent-title:not(.active) .view-all-button {
      visibility: hidden; }

.work-title:not(.active) {
  -moz-transform: translate(-70%, 0);
  -o-transform: translate(-70%, 0);
  -ms-transform: translate(-70%, 0);
  -webkit-transform: translate(-70%, 0);
  transform: translate(-70%, 0); }
  @media (min-width: 768px) {
    .work-title:not(.active) {
      -moz-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); } }

.talent-title:not(.active) {
  -moz-transform: translate(70%, 0);
  -o-transform: translate(70%, 0);
  -ms-transform: translate(70%, 0);
  -webkit-transform: translate(70%, 0);
  transform: translate(70%, 0); }
  @media (min-width: 768px) {
    .talent-title:not(.active) {
      -moz-transform: translate(50%, 0);
      -o-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
      -webkit-transform: translate(50%, 0);
      transform: translate(50%, 0); } }

.work-bg-content {
  padding: 10px; }

.loading-screen {
  z-index: 1001;
  background: radial-gradient(ellipse at center, #001748 0%, #000F2E 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13233d', endColorstr='#0a182f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .loading-screen div:not(#loading), .loading-screen header, .loading-screen footer {
    display: none; }

#loading {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate(-50%, -50%); }
  #loading svg {
    padding: 10rem 0.75rem; }

.hidebody {
  height: 0;
  overflow: hidden; }

.pattern-section {
  background: url("../images/logo-bg.png") repeat-x; }

@media (min-width: 768px) {
  .job-filter-container.stuck {
    position: fixed;
    top: 93px; } }

@media (min-width: 1024px) {
  .job-filter-container.stuck {
    width: 369px; } }

.job-filter {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0; }
  .job-filter > li {
    margin: 0 0 10px 0; }
  .job-filter h4 {
    border-bottom: 1px solid #dadfe6;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    width: 100%; }

.job-filter-actions > li {
  display: inline-block;
  padding: 0 10px 0 0; }
  @media (min-width: 40em) {
    .job-filter-actions > li {
      display: block;
      padding: 0 0 10px 0; } }
  .job-filter-actions > li.active {
    font-weight: 400; }

.jobs-iframe-container {
  min-height: 1000px;
  margin: 0 0 40px 0;
  position: relative;
  width: 100%; }

.jobs-iframe {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto; }

.dropdown-container {
  margin-bottom: 20px; }

.dropdown.active {
  display: block; }

.dropdown-ele {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  margin: 0; }
  @media (min-width: 768px) {
    .dropdown-ele {
      display: inline-block;
      margin: 0 auto 10px;
      margin-right: 2%;
      vertical-align: top;
      width: 31.3%; } }
  .dropdown-ele:not(.desktop-dropdown-trigger):hover span {
    background: #F5F7FA; }
  .dropdown-ele.active > span {
    background: #315BA6;
    color: #fff; }
  .dropdown-ele.active:hover > span {
    background: #315BA6;
    color: #fff; }
  .dropdown-ele.active label {
    color: #fff; }
  .dropdown-ele.active .lead, .dropdown-ele.active .read-button, .dropdown-ele.active .back-read-button, .dropdown-ele.active .view-all-button {
    color: #669DC9; }
  .dropdown-ele a {
    display: block; }
  .dropdown-ele span {
    background: #fff;
    color: #000F2E;
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000; }

.desktop-dropdown-trigger .label {
  display: none; }

@media (min-width: 480px) {
  .desktop-dropdown-trigger {
    margin-right: 0;
    z-index: 1000; }
    .desktop-dropdown-trigger:hover .dropdown-ele {
      opacity: 1;
      visibility: visible;
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
      .desktop-dropdown-trigger:hover .dropdown-ele:nth-child(1) {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 100ms;
        -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 100ms;
        -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 100ms;
        transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 100ms; }
      .desktop-dropdown-trigger:hover .dropdown-ele:nth-child(2) {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
        -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
        -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
        transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms; }
      .desktop-dropdown-trigger:hover .dropdown-ele:nth-child(3) {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
        -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
        -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
        transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms; }
      .desktop-dropdown-trigger:hover .dropdown-ele:nth-child(4) {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 400ms;
        -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 400ms;
        -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 400ms;
        transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 400ms; }
    .desktop-dropdown-trigger .label {
      display: block; } }

@media (min-width: 480px) {
  .desktop-dropdown {
    display: inline-block;
    overflow: hidden;
    padding: 54px 0 0 0;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 100%;
    z-index: 1; }
    .desktop-dropdown .dropdown-ele {
      position: relative;
      width: 100%;
      z-index: 1000;
      margin-bottom: 2px;
      opacity: 0;
      visibility: hidden; }
      .desktop-dropdown .dropdown-ele:nth-child(1) {
        -moz-transform: translate(0, -100px);
        -o-transform: translate(0, -100px);
        -ms-transform: translate(0, -100px);
        -webkit-transform: translate(0, -100px);
        transform: translate(0, -100px);
        -webkit-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 100ms;
        -moz-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 100ms;
        -o-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 100ms;
        transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 100ms; }
      .desktop-dropdown .dropdown-ele:nth-child(2) {
        -moz-transform: translate(0, -200px);
        -o-transform: translate(0, -200px);
        -ms-transform: translate(0, -200px);
        -webkit-transform: translate(0, -200px);
        transform: translate(0, -200px);
        -webkit-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
        -moz-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
        -o-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms;
        transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 200ms; }
      .desktop-dropdown .dropdown-ele:nth-child(3) {
        -moz-transform: translate(0, -300px);
        -o-transform: translate(0, -300px);
        -ms-transform: translate(0, -300px);
        -webkit-transform: translate(0, -300px);
        transform: translate(0, -300px);
        -webkit-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
        -moz-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
        -o-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms;
        transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 300ms; }
      .desktop-dropdown .dropdown-ele:nth-child(4) {
        -moz-transform: translate(0, -400px);
        -o-transform: translate(0, -400px);
        -ms-transform: translate(0, -400px);
        -webkit-transform: translate(0, -400px);
        transform: translate(0, -400px);
        -webkit-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 400ms;
        -moz-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 400ms;
        -o-transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 400ms;
        transition: all 1600ms cubic-bezier(0.14, 0.62, 0.39, 1) 400ms; }
      .desktop-dropdown .dropdown-ele.active span {
        background: #315BA6;
        color: #fff; }
      .desktop-dropdown .dropdown-ele.active:hover span {
        background: #315BA6;
        color: #fff; }
      .desktop-dropdown .dropdown-ele:hover span {
        background: #F5F7FA; }
      .desktop-dropdown .dropdown-ele:nth-child(2) {
        z-index: 900; }
      .desktop-dropdown .dropdown-ele:nth-child(3) {
        z-index: 800; }
      .desktop-dropdown .dropdown-ele:nth-child(4) {
        z-index: 700; }
      .desktop-dropdown .dropdown-ele:nth-child(5) {
        z-index: 600; }
      .desktop-dropdown .dropdown-ele:nth-child(6) {
        z-index: 500; }
    .desktop-dropdown span {
      font-size: 18px;
      line-height: 26px; } }

.contact-select {
  margin: 10px 0;
  list-style: none; }

.contact-select-ele {
  background: #fff;
  cursor: pointer;
  margin: 0 0 10px 0;
  text-align: center;
  width: 100%; }
  .contact-select-ele:hover {
    background: #F5F7FA; }
  .contact-select-ele.active {
    background: #315BA6; }
    .contact-select-ele.active label {
      color: #fff; }
  @media (min-width: 480px) {
    .contact-select-ele {
      display: inline-block;
      width: 32.3%; } }
  .contact-select-ele input {
    display: none; }
  .contact-select-ele label {
    cursor: pointer;
    padding: 20px; }

.contact-form {
  position: relative; }

.contact-form-content {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  top: 0; }
  .contact-form-content.active {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 10; }
  .contact-form-content br {
    display: none; }
  .contact-form-content label {
    padding-bottom: 5px; }
  .contact-form-content div.wpcf7-response-output {
    border: 0;
    margin: 0 0 20px 0;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: auto; }
  .contact-form-content div.wpcf7-validation-errors {
    background: #DB8C8C; }
  .contact-form-content span.wpcf7-not-valid-tip {
    color: #c33e3e;
    font-weight: bold; }
  .contact-form-content .new-form {
    display: none;
    cursor: pointer; }
  .contact-form-content form.wpcf7-form.sent .form-elements {
    display: none; }
  .contact-form-content form.wpcf7-form.sent .new-form {
    display: block; }

@media (min-width: 40em) {
  .about-page-bg {
    background: url("../images/about-bg.png") top right no-repeat;
    background-size: auto 100%; }
  .desktop-only {
    display: block; }
  .mobile-only {
    display: none; }
  .logo {
    background: url("../images/sbt-full-logo.svg") left center no-repeat;
    width: 100%; }
  .menu-label {
    background: none;
    color: transparent;
    background: url("../images/menu-button.svg") right center no-repeat;
    float: right;
    width: 100px;
    margin-top: 20px; }
  .lead-small {
    font-size: 14px;
    line-height: 20px; }
  textarea {
    height: 125px; }
  hr {
    clear: both; }
  form h4 {
    font-size: 36px;
    line-height: 52px; }
  .subtext-block {
    display: block;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 20px; }
  .site-footer {
    padding-bottom: 0; }
    .site-footer .section {
      padding-bottom: 40px; }
    .site-footer h4, .site-footer .colophon {
      color: #B5CEE1; }
      .site-footer h4 a, .site-footer .colophon a {
        font-size: 24px;
        line-height: 34px; }
    .site-footer .social-links li {
      width: auto; }
    .site-footer .medium-section {
      padding-bottom: 40px; }
  .read-button {
    font-size: 18px;
    line-height: 20px; }
  .post-hero {
    padding: 140px 0; }
  .avatar {
    width: 100%;
    height: auto; }
  .author-name {
    font-weight: 700; }
  hr {
    margin-left: auto;
    margin-right: auto; }
  .date {
    font-size: 18px; }
  .small-hr {
    margin: 15px auto 10px; }
  .share-this-story {
    background: #B5CEE1;
    text-align: center;
    padding: 40px; }
    .share-this-story img {
      vertical-align: bottom; }
  .space-out li {
    display: inline-block;
    float: none; }
    .space-out li:not(:last-child) {
      margin-right: 40px; }
  .industry-card h3 a {
    font-size: 48px; }
  .industry-cards {
    overflow: hidden; }
  h3 strong {
    text-transform: lowercase;
    font-weight: 400; }
  .large-work-bg {
    background-image: url("../images/work-bg.jpg");
    background-size: cover;
    padding: 0;
    overflow: hidden;
    margin-bottom: -2px; }
  .work-bg-content {
    background: rgba(233, 236, 240, 0.9);
    overflow: hidden;
    padding: 80px 40px; }
  .small-love h1.standalone {
    color: #669DC9 !important;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px; }
  .small-love .lead.standalone, .small-love .standalone.read-button, .small-love .standalone.back-read-button, .small-love .standalone.view-all-button {
    color: #000F2E !important;
    margin-top: 10px;
    font-weight: 400; }
  .gradient-section {
    color: #000F2E;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300; }
  .full-width-row {
    margin: 0;
    max-width: none; }
  .modal-container {
    text-align: center; }
    .modal-container h4 {
      font-size: 36px;
      line-height: 44px;
      font-weight: 400; }
  .modal, .modal-button {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto; }
    .modal .read-button, .modal .back-read-button, .modal-button .read-button, .modal-button .back-read-button {
      letter-spacing: 0;
      color: #315BA6; }
  .large-industry-content .small-6:nth-child(2n+1) {
    clear: none; }
  .large-industry-content .large-4:nth-child(3n+1) {
    clear: both; }
  .load-more-button, .button, .reverse-button, .view-all-button {
    font-size: 18px;
    line-height: 26px; }
  .eat-bottom-margin {
    margin-bottom: -80px; }
  .menu-container-expanded {
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    height: 100%; }
  .menu-close-button {
    margin-top: 30px;
    margin-bottom: 80px; }
  .menu-links {
    list-style: none;
    background-position: top right; }
    .menu-links a {
      font-size: 36px;
      line-height: 52px; }
    .menu-links li:last-child {
      background-position: bottom right; }
  .site-footer .columns {
    padding: 0 40px; }
    .site-footer .columns:first-child {
      border-left: #669DC9 1px solid;
      border-right: #669DC9 1px solid; }
    .site-footer .columns:last-child {
      border-left: #669DC9 1px solid;
      border-right: #669DC9 1px solid;
      padding: 0 40px 70px; }
  .menu-active {
    overflow-y: scroll; }
  .social-links li {
    padding-left: 0;
    padding-right: 0; }
  label {
    margin-top: 0; }
  #loading {
    width: 10%; }
  .map-section {
    background-image: url("../images/map.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 870px; } }

/*# sourceMappingURL=style.css.map */