@media (min-width:40em) {

	.about-page-bg {
		background:url('../images/about-bg.png') top right no-repeat;
		background-size:auto 100%;
	}
	.desktop-only {
		display:block;
	}
	.mobile-only {
		display:none;
	}
	.site-header {
		position:relative;
		z-index:100;
		background:$midnight;
	}
	.logo {
		background:url('../images/sbt-full-logo.svg') left center no-repeat;
		width:100%;
	}
	.menu-label {
		background:none;
		color:rgba(0,0,0,0);
		background:url('../images/menu-button.svg') right center no-repeat;
		float:right;
		width:100px;
		margin-top:30px;
	}
	.medium-section {
		padding:180px 0 100px;
	}
	.lead {
		font-size:24px;
		line-height:32px;
	}
	.lead-small {
		font-size:14px;
		line-height:20px;
	}
	h1 {
		font-size:144px;
		line-height:176px;
	}
	body {
		font-size:24px;
		line-height:32px;
	}
	.large-text {
		font-size:36px;
		line-height:52px;
		input,textarea {
			font-size:24px;
			line-height:32px;
		}
	}
	textarea {
		height:125px;
	}
	.large-pt {
		padding-top:40px;
	}
	.large-mt {
		margin-top:80px;
	}
	.large-pb {
		padding-bottom:80px;
	}
	.dropdown-label {
		display:none;
	}
	.dropdown {
		display:block;
		position:static;
		margin-top:40px;
	}
	.dropdown li {
		width:350px;
		display: block;
		font-size:48px;
		color:$midnight;
		font-weight: 400;
		background: #fff;
		border:0;
		border-radius: 2px;
		line-height: 56px;
		padding:20px;
		text-transform:uppercase;
		margin-bottom:40px;
		margin-left:auto;
		margin-right:auto;
		&.active {
			background:$azure;
			label {
				color:#fff;
			}
			.lead {
				color:$bluegrey;
			}
		}
	}
	.standalone-dropdown-options li {
		padding:5px 20px 5px;
	}
	hr {
		clear:both;
	}
	form h4 {
		font-size:36px;
		line-height:52px;
	}
	.subtext-block {
		display:block;
		line-height:1;
		margin-top:10px;
		margin-bottom:20px;
	}
	.social-links {
	    margin:0;
	    border:0;
	    overflow: hidden;
	}
	.social-links li:not(:last-child) {
	    border:0;
	    margin-right:20px;
	}
	.social-links li {
	    width: auto;
	    padding:20px 0 0;
	    text-align: center;
	    display: block;
	}
	.site-footer {
		padding-bottom:0;
		.section {
			padding-bottom:40px;
		}
		h4,.colophon {
			color:$lightsteelblue;
			a {
				font-size:24px;
				line-height:34px;
			}
		}
		.social-links li {
			width:auto;
		}
		.medium-section {
			padding-bottom:40px;
		}
	}
	.read-button {
		font-size:18px;
		line-height:20px;
	}
	.post-hero {
		padding:140px 0;
	}
	.avatar {
		width:100%;
		height:auto;
	}
	.author-name {
		font-weight:700;
	}
	hr {
		margin-left:auto;
		margin-right:auto;
	}
	.date {
		font-size:18px;
	}
	.small-hr {
		margin:15px auto 10px;
	}
	.share-this-story {
		background:$lightsteelblue;
		text-align:center;
		padding:40px;
		img {
			vertical-align:bottom;
		}
	}
	.space-out li {
		display:inline-block;
		float:none;
		&:not(:last-child) {
			margin-right:40px;
		}
	}
	.industry-card {
		width:33.3%;
		float:left;
		h3 a {
			font-size:48px;
		}
	}
	.industry-cards {
		overflow:hidden;
	}
	h3 strong {
		text-transform:lowercase;
		font-weight:400;
	}
	.large-work-bg {
		background-image:url('../images/work-bg.jpg');
		background-size:cover;
		padding:0;
		overflow:hidden;
		margin-bottom:-2px;
	}
	.work-bg-content {
		background:rgba(233,236,240,.9);
		overflow:hidden;
		padding:80px 40px;
	}
	.small-love {
		h1.standalone {
			color:$bluegrey !important;
			font-size:36px;
			font-weight:700;
			line-height:36px;
		}
		.lead.standalone {
			color:$midnight !important;
			margin-top:10px;
			font-weight:400;
		}
	}
	.work-bg-content .container {
		float:left;
		width:500px;
	}
	.gradient-section {
		color:$midnight;
		font-size:36px;
		line-height:44px;
		font-weight:300;
		h4 {
			font-size:48px;
			line-height:56px;
			font-weight:400;
		}
	}
	.full-width-row {
		margin:0;
		max-width:none;
	}
	#industry-dropdown-container {
		display:none !important;
	}
	.color-card {
		padding:40px 35px;
		h5 {
			line-height:32px;
			letter-spacing:0px;
		}
	}
	.modal-container {
		text-align:center;
		h4 {
			font-size:36px;
			line-height:44px;
			font-weight:400;
		}
	}
	.modal,.modal-button {
		max-width:768px;
		margin-left:auto;
		margin-right:auto;
		.read-button,.back-read-button {
			letter-spacing:0;
			color:$azure;
		}
	}
	.large-industry-content .small-6:nth-child(2n+1) {
		clear:none;
	}
	.large-industry-content .large-4:nth-child(3n+1) {
		clear:both;
	}
	.load-more-button, .view-all-button {
		font-size:18px;
		line-height:26px;
	}
	.eat-bottom-margin {
		margin-bottom:-80px;
	}
	.menu-container {
		background:$solitude;
		position:fixed;
		bottom: 0;
		top:0;
		width:100%;
		@include translate(100%,0%);
		display:block;
		text-align:right;
		z-index: 1000;
		height: 100%;
		overflow: scroll;
	}
	.menu-container-expanded {
		@include translate(0%,0%);
		height: 100%;
		z-index: 1000;
	}

	.menu-close-button {
		margin-top:30px;
		margin-bottom:80px;
	}
	.menu-links {
		list-style:none;
		background-position:top right;
		a {
			font-size:36px;
			line-height:52px;
		}
		li:last-child {
			background-position:bottom right;
		}
	}
	.menu-link-heading {
		font-size:64px;
		line-height:91px;
	}
	
	.talent-title {
		position:relative;
		left:-15%;
	}
	.talent-active {
		transform:translate(-25%);
	}
	.work-active {
		transform:translate(0);
	}
	.work-title:not(.active) {
		right:auto;
	}
	.industry-card.active {
		padding-bottom:0;
		.card {
			padding-bottom:60px;
		}
	}
	.site-footer .columns {
		padding:0 40px;
		&:first-child {
			border-left:$bluegrey 1px solid;
			border-right:$bluegrey 1px solid;
		}
		&:last-child {
			border-left:$bluegrey 1px solid;
			border-right:$bluegrey 1px solid;
			padding:0 40px 70px;
		}
	}
	.menu-active {
		overflow-y:scroll;
	}
	.social-links li {
		padding-left:0;
		padding-right:0;
	}
	label {
		margin-top:0;
	}
	#loading {
		width:10%;
	}
	.map-section {
		background-image:url('../images/map.png');
		background-position:right top;
		background-repeat:no-repeat;
		background-size:50% auto;
	}
	.interactive-hero {
	  background: url('../images/beach.jpg') no-repeat left top scroll;
	  background-size: cover;
	  height: 900px;
	  overflow: hidden;
	  position: relative;
	  width: 100%;
	  &:after {
	    background: #fff;
	    width: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    height: 100%;
	    //content: "";
	    position: absolute;
	    z-index: 9;
	    mix-blend-mode: overlay;
	  }
	  @media screen and (min-width: $mqm){
	    background-size: 1920px 981px;
	    height: 888px;
	  }
	}

	.beach-layer {
	  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/77302/sbt-hero-sand.png') no-repeat;
	  background-size: 1920px auto;
	  bottom: 0;
	  height: 242px;
	  position: absolute;
	  width: 100%;
	  z-index: 101;
	}

	.lineart-layer {
	  display: none;
	  height: 981px;
	  opacity: 0.7;
	  position: relative;
	  top: 0px;
	  width: 1920px;
	  @media screen and (min-width: $mqm){
	    display: block;
	  }
	  svg {
	    padding-bottom: 100%;
	    height: 981px;
	    position: absolute;
	    width: 1920px;
	    left: 0;
	    top: 0;
	    right: 0;
	    overflow: visible;
	  }
	}

	.text-layer {
	  height: 100%;
	  -moz-height: auto;
	  left: 0;
	  position: absolute;
	  top: 150px;
	  width: 100%;
	  z-index: 10000;
	  @media screen and (min-width: $mqm){
	    top: 0;
	  }
	}

	.text-col {
	  float: left;
	  height: 260px;
	  padding: 20px;
	  position: relative;
	  width: 100%;
	  &:hover {
	    @media screen and (min-width: $mqm){
	      .text-container, a.btn, .sub-paths {
	        opacity: 1;
	      }
	      a.btn, .sub-paths {
	        transform: translateY(0);
	      }
	    }
	  }
	  body:not(.has-menu) &:before {
	    opacity: 0;
	    @media screen and (min-width: $mqm){
	      @include transition($time: 400ms);
	      background-image: linear-gradient(-180deg, #055BEF 50%, rgba(255,255,255,0.00) 100%);
	      // background-color: #055BEF;
	      content: "";
	      height: 100%;
	      // mix-blend-mode: overlay;
	      opacity: 0.1;
	      position: absolute;
	      top: 0;
	      width: 150%;
	      z-index:-1
	    }
	  }
	  @media screen and (min-width: $mqm){
	    height: 100%;
	    width: 50%;
	  }
	}

	.text-left {
	  &:before {
	    transform: translateX(-1500px) skew(10deg);
	    right: 0;
	  }
	  &:hover {
	    &:before {
	      transform: translateX(0) skew(10deg);
	    }
	  }
	}

	.text-right {
		text-align:right;
	  &:before {
	    transform: translateX(1500px) skew(10deg);
	    left: 0;
	  }
	  &:hover {
	    &:before {
	      transform: translateX(0) skew(10deg);
	    }
	  }
	}

	.text-container {
	  @include transition;
	  @include absolute-center;
	  color: #fff;
	  opacity: 1;
	  text-transform: uppercase;
	  width: 80%;
	  @media screen and (min-width: $mqm){
	    @include absolute-center(-50%,-80%);
	    opacity: 0.5;
	    width: 310px;
	  }
	  a {
	    color: #669DC9;
	    text-decoration: none;
	  }
	}

	.sub-text {
	  color: #B5CEE1;
	  font-size: 14px;
	  letter-spacing: 2px;
	}

	.text-header {
	  font-size: 32px;
	  font-weight: 100;
	  line-height: 40px;
	  letter-spacing: 2px;
	  margin: 5px 0 20px;
	}

	a.btn {
	  @include transition($delay: 200ms);
	  background: #669DC9;
	  border-radius: 2px;
	  color: #fff;
	  display: inline-block;
	  letter-spacing: 2px;
	  opacity: 1;
	  padding: 5px 20px;
	  transform: translateY(10px);
	  @media screen and (min-width: $mqm){
	    opacity: 0;
	  }
	}

	.sub-paths {
	  @include transition($delay: 300ms);
	  list-style: none;
	  margin: 20px 0;
	  opacity: 1;
	  padding: 0;
	  transform: translateY(10px);
	  @media screen and (min-width: $mqm){
	    opacity: 0;
	  }
	}

	.sub-path-item {
	  color: #669DC9;
	  display: inline-block;
	  padding: 0 10px 0 0;
	}

	.sub-path-link {
	  font-size: 14px;
	  letter-spacing: 2px;  
	}

	.video-layer {
	  height: 242px;
	  width: 1920px;
	  bottom: 0;
	  left: 0;
	  position: absolute;
	  right: 0;
	  z-index: 100;
	  text-align: left;
	  video {
	    position: absolute;
	    left: 0;
	  }
	}
	.home-dark-section {
		h2 {
			line-height:48px;
		}
	}
	.standalone-dropdown-options .dropdown-has-child {
		padding-left:0;
		padding-right:0;
		padding-bottom:0;
		position:relative;
		ul {
			display:none;
			position:absolute;
			top:120px;
			z-index:10;
			li {
				background:#3360a4;
				font-size:1rem;
				margin-bottom:0;
				a {
					padding:10px 0;
					color:#fff;
				}
			}
		}
		label {
			padding:30px 0;
		}
	}
}
@media (min-width:1024px) {
	.talent-title {
		position:relative;
		left:-20%;
	}
}
@media (min-width:1200px) {
	.dropdown li {
		float:left;
	}
	.dropdown li:not(:last-child) {
		margin-right:60px;
	}
	.talent-title {
		position:relative;
		left:-24.5%;
	}
}