@media (min-width:40em) {
	.desktop-only {
		display:block;
	}
	.mobile-only {
		display:none;
	}
	.site-header {
		position:relative;
		z-index:100;
		background:$midnight;
	}
	.logo {
		background:url('../images/sbt-full-logo.svg') left center no-repeat;
		width:100%;
	}
	.menu-label {
		background:none;
		color:rgba(0,0,0,0);
		background:url('../images/menu-button.svg') right center no-repeat;
		float:right;
		width:100px;
		margin-top:30px;
	}
	.medium-section {
		padding:180px 0 100px;
	}
	.lead {
		font-size:24px;
		line-height:32px;
	}
	.lead-small {
		font-size:14px;
		line-height:20px;
	}
	h1 {
		font-size:144px;
		line-height:206px;
	}
	body {
		font-size:24px;
		line-height:32px;
	}
	.large-text {
		font-size:36px;
		line-height:52px;
		input,textarea {
			font-size:24px;
			line-height:32px;
		}
	}
	textarea {
		height:125px;
	}
	.large-pt {
		padding-top:40px;
	}
	.dropdown-label {
		display:none;
	}
	.dropdown {
		display:block;
		position:static;
		margin-top:40px;
	}
	.dropdown li {
		width:350px;
		display: block;
		font-size:48px;
		color:$midnight;
		font-weight: 400;
		background: #fff;
		border:0;
		border-radius: 2px;
		line-height: 56px;
		padding:5px 20px 20px;
		text-transform:uppercase;
		margin-bottom:40px;
		margin-left:auto;
		margin-right:auto;
		&.active {
			background:$azure;
			label {
				color:#fff;
			}
			.lead {
				color:$bluegrey;
			}
		}
	}
	.standalone-dropdown-options li {
		padding:5px 20px 10px;
	}
	hr {
		clear:both;
	}
	form h4 {
		font-size:36px;
		line-height:52px;
	}
	.subtext-block {
		display:block;
	}
	.social-links {
	    margin:0;
	    border:0;
	    overflow: hidden;
	}
	.social-links li:not(:last-child) {
	    border:0;
	    margin-right:20px;
	}
	.social-links li {
	    width: auto;
	    padding:20px 0 0;
	    text-align: center;
	    display: block;
	    float: left;
	}
	.site-footer {
		padding-bottom:0;
		.section {
			padding-bottom:40px;
		}
		h4,.colophon {
			color:$lightsteelblue;
			a {
				font-size:24px;
				line-height:34px;
			}
		}

	}
	.read-button {
		font-size:18px;
		line-height:20px;
	}
	.post-hero {
		padding:140px 0;
	}
	.avatar {
		width:100%;
		height:auto;
	}
	.author-name {
		font-weight:700;
	}
	hr {
		margin-left:auto;
		margin-right:auto;
	}
	.date {
		font-size:18px;
	}
	.small-hr {
		margin:15px auto 10px;
	}
	.share-this-story {
		background:$lightsteelblue;
		text-align:center;
		padding:40px;
	}
	.space-out li:not(:last-child) {
		margin-right:40px;
	}
}
@media (min-width:1200px) {
	.dropdown li {
		float:left;
	}
	.dropdown li:not(:last-child) {
		margin-right:60px;
	}
}