@media (min-width:64em) {

	.about-page-bg {
		background:url('../images/about-bg.png') top right no-repeat;
		background-size:auto 100%;
	}
	
	.lead-small {
		font-size:14px;
		line-height:20px;
	}

	textarea {
		height:125px;
	}

	
	hr {
		clear:both;
	}
	form h4 {
		font-size:36px;
		line-height:52px;
	}
	.subtext-block {
		display:block;
		line-height:1;
		margin-top:10px;
		margin-bottom:20px;
	}
	
	// .site-footer {
	// 	padding-bottom:0;
	// 	.section {
	// 		padding-bottom:40px;
	// 	}
	// 	h4,.colophon {
	// 		color:$lightsteelblue;
	// 		a {
	// 			font-size:24px;
	// 			line-height:34px;
	// 		}
	// 	}
	// 	.social-links li {
	// 		width:auto;
	// 	}
	// 	.medium-section {
	// 		padding-bottom:40px;
	// 	}
	// }
	.read-button {
		font-size:18px;
		line-height:20px;
	}
	.post-hero {
		padding:140px 0;
	}
	.avatar {
		width:100%;
		height:auto;
	}
	.author-name {
		font-weight:700;
	}
	hr {
		margin-left:auto;
		margin-right:auto;
	}
	.date {
		font-size:18px;
	}
	.small-hr {
		margin:15px auto 10px;
	}
	.share-this-story {
		background:$lightsteelblue;
		text-align:center;
		padding:40px;
		img {
			vertical-align:bottom;
		}
	}
	.space-out li {
		display:inline-block;
		float:none;
		&:not(:last-child) {
			margin-right:40px;
		}
	}
	.industry-card {
		h3 a {
			font-size:48px;
		}
	}
	.industry-cards {
		overflow:hidden;
	}
	h3 strong {
		text-transform:lowercase;
		font-weight:400;
	}
	.large-work-bg {
		background:url('../images/work-bg.jpg') center;
		background-size:cover;
		padding:0;
		overflow:hidden;
		margin-bottom:-2px;
	}
	.work-bg-content {
		background:rgba(233,236,240,.9);
		overflow:hidden;
		padding:80px 40px;
	}
	.small-love {
		h1.standalone {
			color:$bluegrey !important;
			font-size:36px;
			font-weight:700;
			line-height:36px;
		}
		.lead.standalone {
			color:$midnight !important;
			margin-top:10px;
			font-weight:400;
		}
	}

	.gradient-section {
		color:$midnight;
		font-size:36px;
		line-height:44px;
		font-weight:300;
	}
	.full-width-row {
		margin:0;
		max-width:none;
	}
	.modal-container {
		text-align:center;
		h4 {
			font-size:36px;
			line-height:44px;
			font-weight:400;
		}
	}
	.modal,.modal-button {
		max-width:768px;
		margin-left:auto;
		margin-right:auto;
		.read-button,.back-read-button {
			letter-spacing:0;
			color:$azure;
		}
	}
	.large-industry-content .small-6:nth-child(2n+1) {
		clear:none;
	}
	.large-industry-content .large-4:nth-child(3n+1) {
		clear:both;
	}
	.load-more-button, .view-all-button {
		font-size:18px;
		line-height:26px;
	}
	.eat-bottom-margin {
		margin-bottom:-80px;
	}
	.menu-container-expanded {
		@include translate(0%,0%);
		height: 100%;
	}

	.menu-close-button {
		margin-top:30px;
		margin-bottom:80px;
	}
	.menu-links {
		list-style:none;
		background-position:top right;
		a {
			font-size:36px;
			line-height:52px;
		}
		li:last-child {
			background-position:bottom right;
		}
	}
	
	
	// .talent-title {
	// 	position:relative;
	// 	left:-15%;
	// }
	// .talent-active {
	// 	transform:translate(-25%);
	// }
	// .work-active {
	// 	transform:translate(0);
	// }
	// .work-title:not(.active) {
	// 	right:auto;
	// }
	// .industry-card.active {
	// 	padding-bottom:0;
	// 	.card {
	// 		padding-bottom:60px;
	// 	}
	// }
	.menu-active {
		overflow-y:scroll;
	}
	.social-links li {
		padding-left:0;
		padding-right:0;
	}
	label {
		margin-top:0;
	}
	#loading {
		width:10%;
	}
	.map-section {
		background-image:url('../images/map.png');
		background-position:right top;
		background-repeat:no-repeat;
		background-size: auto 870px;
	}
	
	// .standalone-dropdown-options .dropdown-has-child {
	// 	padding-left:0;
	// 	padding-right:0;
	// 	// padding-bottom:0;
	// 	position:relative;
	// 	ul {
	// 		visibility: hidden;
	// 		opacity: 0;
	// 		overflow: hidden;
	// 		position:absolute;
	// 		top: 110%;
	// 		width: 100%;
	// 		z-index:10;
	// 		@include transition;
	// 		li {
	// 			background:#3360a4;
	// 			font-size:1rem;
	// 			margin-bottom: 5px;
	// 			opacity: 0;
	// 			width: 100%;
	// 			@include ddAnimation;
	// 			@include transition;
	// 			&:hover {
	// 				background: lighten(#3360a4,5%);
	// 			}
	// 			a {
	// 				padding: 0;
	// 				color:#fff;
	// 			}
	// 		}
	// 	}
	// 	ul.active {
	// 		visibility: visible;
	// 		opacity: 1;
	// 		li {
	// 			opacity: 1;
	// 			@include translate(0, 0px);
	// 		}
	// 	}
	// }
}
// @media (min-width:1024px) {
// 	.talent-title {
// 		position:relative;
// 		left:-20%;
// 	}
// }
// @media (min-width:1200px) {

// 	.talent-title {
// 		position:relative;
// 		left:-24.5%;
// 	}
// }