// Base
  
  html {
    min-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    &.menu-active {
      overflow: hidden;
    }
    &.modal-active {
      @media (max-width: $mql) {
        overflow: hidden;
      }
    }
  }
  body {
    color: $black;
    font: $fontPrimary;
  }

  hr {
    border:0;
    background:#CED5E0;
    height:1px;
    margin:1.5rem 0 0;
  }

  .site-wrap {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    &.menu-active {
      overflow-y: hidden;
      position: absolute;
    }
  }

  .wrap {
    background: url('../images/water.png') $solitude top center no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    margin: 0;
    padding: 120px 0 0 0;
    position: relative;
    z-index: 10;
    @media (min-width: $mql) {
      margin: 80px 0 0 0;
      padding: 80px 0 0 0;
    }
  }

  .large-pt {
    padding-top:40px;
  }
  .large-mt {
    margin-top:80px;
  }
  .large-pb {
    padding-bottom:80px;
  }

// Typography

  a {
    text-decoration:none;
    color:$azure;
  }

  p {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 20px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color:$midnight;
    font-weight: 400;
    letter-spacing: .01em;
    margin: 0 0 10px 0;
  }

  h1 {
    font-size: 64px;
    font-weight: 300;
    line-height: 72px;
    text-transform: uppercase;
    @media (min-width:$mqm) {
      font-size: 120px;
      font-weight: 300;
      line-height: 128px;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
    // .lead + & {
    //   margin-top:0;
    // }
    // .highlight {
    //   color:$azure;
    // }
    // &.tight-leading {
    //   line-height: 48px;
    //   .lead {
    //     display: inline-block;
    //     text-indent: 3px;
    //   }
    // }
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
    // .site-footer & {
    //   font-weight:400;
    // }
    // .gradient-section & {
    //   color:$midnight;
    // }
  }

  h5 {
    font-size: 14px;
    line-height: 22px;
    // a {
    //   color:$midnight;  
    // }
  }

  label {
    font-weight:400;
    color:$midnight;
    display:block;
  }

  strong {
    font-weight:500;
  }

  .large-text {
    p {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .lowercase {
    text-transform: lowercase;
  }

  .down-arrow {
    display: block;
    padding: 10px 0 0;
    text-align: center;
  }

  .dropdown-container label {
    margin-top:0;
  }

  .subtext {
    font-size:16px;
    font-weight:400;
    font-style:italic;
  }

  .lead {
    display: block;
    font-size: 14px;
    letter-spacing: .01em;
    text-transform: uppercase;
    color: $azure;
    line-height: 20px;

    @media (min-width:$mqm) {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .lead.standalone {
    font-size:18px;
  }

// Buttons
  .button {
    font-weight:700;
    text-transform: uppercase;
    @extend .load-more-button;
    outline: 0;
    border: 0;
    p > &:first-child {
      margin-top:-6px;
      margin-bottom:6px; /* optical adjustment */
    }
    &+ .button {
      margin-left: 10px;
    }
  }
  a.button-dark {
    background: $azure;
    &:hover {
      background: lighten($azure,5%);
    }
  }
  .read-button {
    background:#9FBDD4 url('../images/right-arrow.svg') center right 11px no-repeat;
    display:inline-block;
    width:100%;
    text-align:center;
    @extend .lead;
    color:$midnight;
    font-weight:700;
    padding:7px 0;
  }
  .back-read-button {
    background:$lightsteelblue url('../images/left-arrow.svg') center left 11px no-repeat;
    display:inline-block;
    width:100%;
    font-size:16px !important;
    line-height:20px !important;
    text-align:center;
    @extend .lead;
    color:$midnight;
    font-weight:700;
    padding:7px 0;
  }
  .load-more-button {
    background: $bluegrey;
    border-radius: 2px;
    font-size: 14px;
    line-height: 20px;
    display:inline-block;
    padding:10px 20px;
    // @extend .lead;
    color: #FFFFFF;
    font-weight:700;
    letter-spacing:0;
    margin-bottom:10px;
    &:hover {
      background: lighten($bluegrey,5%);
    }
  }
  .view-all-button {
    background: $stardust;
    border-radius: 2px;
    font-size: 14px;
    line-height: 20px;
    display:inline-block;
    padding:10px 20px;
    @extend .lead;
    color: #FFFFFF;
    font-weight:700;
    margin-bottom:10px;
    letter-spacing:0;
  }
  .reverse-button {
    @extend .load-more-button;
    background:#b8cee0;
    color:$azure;
    border-radius:0;
    box-shadow:none;
  }
  .full-width-button {
    width:100%;
  }

// Form Elements

  .form-input-text, .form-textarea {
    display:block;
    font-size: 16px;
    font-weight:400;
    width:100%;
    background: $whitehaze;
    border: 1px solid #CED5E0;
    box-shadow: inset 0px 1px 1px 0px rgba(163,170,179,0.50);
    border-radius: 2px;
    line-height: 34px;
    padding-left:0.5rem;
  }

  input[type="file"] {
    font-size:18px;
    font-weight:700;
    line-height:18px;
    padding:8px 10px;
  }

  // .dropdown-label {
  //   box-shadow:none;
  //   background-color: #fff;
  //   background-image:url('../images/dropdown_arrows_small.svg');
  //   background-position:right -2px center;
  //   background-repeat:no-repeat;
  //   background-size:auto 102%;
  //   cursor:pointer;
  // }

  // .dropdown-container {
  //   position:relative;
  // }

  // .dropdown {
  //   position:absolute;
  //   top: 100%;
  //   left:0;
  //   width:100%;
  //   cursor:pointer;
  //   display:none;
  //   z-index:99;
  // }

  // .short-standalone {
  //   top:81px;
  // }

  // .standalone-dropdown {
  //   padding:30px 0;
  //   background-image:url('../images/dropdown_arrow_big.svg');
  // }

  // .dropdown li {
  //   box-shadow:none;
  //   label {
  //     cursor:pointer;
  //     font-weight:400;
  //     display:block;
  //   }
  // }

  // .standalone-dropdown, .standalone-dropdown-options li {
  //   font-size:24px;
  //   line-height:20px;
  //   text-transform:uppercase;
  // }

  // .dropdown input[type="radio"] {
  //   display:none;
  // }

  .error {
    margin-top:1.5rem;
    background:#edc233;
    color:#fff;
    padding:0.5rem 1rem;
    border-radius:4px;
  }

// Miscellenous
  .desktop-only {
    display: none;
    @media (min-width:$mql) {
      display:block;
    }
  }
  .mobile-only {
    display: block;
    @media (min-width:$mql) {
      display:none;
    }
  }
  .short-section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .medium-section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .xl-section {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  .xxl-section {
    padding-top: 240px;
    padding-bottom: 240px;
    padding-left: 0;
    padding-right: 0;
  }
  .section0 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .midnight {
    color:$midnight !important;
  }
  .hide {
    display:none;
  }
  .pt0 {
    padding-top:0;
  }
  .mt0 {
    margin-top:0;
  }
  .pb0 {
    padding-bottom:0;
  }
  .pt0 {
    padding-top:0;
  }
  .b0 {
    border:0 !important;
  }

// Mobile Modal
  .mobile-modal {
    display: none;
    padding: 0;
    @include transition;
    @media (max-width:$mql) {
      background: rgba(255,255,255,0.9) !important;
      bottom: 0;
      height: 100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      opacity: 0;
      position: fixed;
      top: 0;
      visibility: hidden;
      width: 100%;
      z-index: 1;
      &.active {
        display: block;
        @include transition;
        opacity: 1;
        visibility: visible;
        z-index: 1000000;
      }
    }
    @media (min-width:$mql) {
      height: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      &.active {
        display: block;
        @include transition;
        height: auto;
        opacity: 1;
        padding: 40px 0;
        visibility: visible;
        z-index: 1000000;
      }
    }
  }
  .mobile-modal-content {
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      position: relative;
      visibility: visible;
    }
  }
  .mobile-modal-trigger {
    .open-text {
      &:after {
        content:"Open";
      }
    }
    &.active {
      .open-text{
        &:after {
          content:"Close";
        }
      }
    }
  }
