// Variables

// Colors
  $azure:#315BA6;
  $black:#000F2E;
  $bluegrey:#669DC9;
  $midnight:#000F2E;
  $solitude:#E9ECF0;
  $whitehaze:#F5F7FA;
  $lightsteelblue:#B5CEE1;
  $stardust:#9E9E9E;
  $errorred: #DB8C8C;

// Typography
  $fontPrimary: 300 18px/26px 'Brandon Grotesque', helvetica, arial, sans-serif;

// Media Queries
  $mqs: 640px;
  $mqm: 960px;
  $mql: 1200px;

// Animations
  $cubic: cubic-bezier(.14, .62, .39, 1);